{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<div class="d-flex flex-column gap-3">
			<h2>Profil 채ndern von
				{{ app.user.userIdentifier }}</h2>
			<h3>Avatar Bild ausw채hlen</h3>
			<div class="d-flex justify-content-between flex-wrap gap-3">
				{% for pic in defaultPictures %}
					{% if app.user.getAvatar() == pic %}
						<img onclick="clickAvatar(event)" src="{{ asset(defaultPicturesDirectory ~ pic) }}" alt="{{ pic }}" class="avatar-choise avatar-select">
					{% else %}
						<img onclick="clickAvatar(event)" src="{{ asset(defaultPicturesDirectory ~ pic) }}" alt="{{ pic }}" class="avatar-choise avatar-unselect">
					{% endif %}
				{% endfor %}
			</div>
			<h3>...oder eigenes Bild hochladen</h3>
			{{ form_start(selectPictureForm) }}
			{{ form_widget(selectPictureForm.picture) }}
			<div class="d-flex justify-content-end gap-3">
				<button type="submit" class="btn btn-primary">Bild 채ndern</button>
				<a href="{{ path('app_profile.edit') }}" class="btn btn-outline-danger">Zur체ck</a>
			</div>
			{{ form_end(selectPictureForm) }}

		</div>
	</div>

    <script>
        function clickAvatar(event) {
            let avatar = event.target;
            let oldAvatar = document.getElementsByClassName('avatar-select')[0];
            if (avatar === oldAvatar) return;
            console.log(avatar);
            console.log(oldAvatar);
            let hiddenInput = document.getElementById('form_avatar');

            oldAvatar.classList.remove('avatar-select');
            oldAvatar.classList.add('avatar-unselect');
            avatar.classList.remove('avatar-unselect');
            avatar.classList.add('avatar-select');

            hiddenInput.value = avatar.getAttribute('alt');
            }
    </script>
{% endblock %}
