{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<h2>Profil ändern von
			{{ app.user.userIdentifier }}</h2>
		<br>
		{{ form_start(selectPictureForm) }}
		{{ form_row(selectPictureForm.picture) }}
		<div class="d-flex justify-content-end gap-3">
			<button type="submit" class="btn btn-primary">Bild ändern</button>
			<a href="{{ path('app_profile.edit') }}" class="btn btn-danger">Zurück</a>
		</div>
		{{ form_end(selectPictureForm) }}

	</div>
{% endblock %}
