{% extends 'base.html.twig' %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="align-self-stretch d-flex flex-column align-items-center">
		<h3 class="py-3">Neuen Benutzer registrieren</h3>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}
		{{ form_row(registrationForm.agreeTerms) }}
		<button class="btn btn-lg btn-primary float-right" type="submit">
			Benutzer anlegen
		</button>
		{{ form_end(registrationForm) }}

	</div>

{% endblock %}
